.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  margin-bottom: 5vh;
  background-color: #6d9cfa;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00799b;
}

.App-button {
  width: 200px;
  height: 50px;
  background-color: #23cdfc;
  font-size: 18px;
  margin: 10px 10px;
}

.App-label {
  margin: 10px;
  color:red;
}

